<html>
  <body>
      <p>Dear {{ username }},</p>
      <p>You are receiving this email as one or more of your histories on Galaxy have not been updated for {{ delete_weeks }} weeks or more and have now been marked as deleted. They and their associated data will be purged from our disk in 5 days time (from the date of this email).

      <p>Please see the {% if histories|length > 1 %}histories{% else %}history{% endif %} in question below:</p>
      <p>
          <table>
              <tr style="color:white;background-color:gray"><th>History Name</th><th>Date last updated</th><th>Size</th></tr>
              {% for h in histories %}
                  <tr style="background-color:#eee"><td><a target="_blank" href="{{ hist_view_base }}{{ h['id'] }}">{{ h['name'] }}</a></td><td>{{ h['h_update_time'] }}</td><td>{{ h['h_size'] }}</td></tr>
              {% endfor %}
          </table>
      </p>
      Yours,
      <br/>
      <br/>
      Galaxy Administrators.
      <p></p>
  </body>
</html>
