<html>
    <body>
        <p>Dear {{ username }},</p>
        <p>You are receiving this email as one or more of your histories on Galaxy have not been updated for {{ warn_weeks }} weeks or more. They will be beyond the User Data Storage time limits soon ({{ delete_weeks }} weeks). Displayed next to each history in the table below is the date that it will be deleted. If you do not run a job in that history or update it before that date, it will be automatically deleted and then purged from disk.</p>

        <p>You should download any files you wish to keep from each history before the date specified. Instructions for doing so can be found at:</p>

        <p><a href='https://training.galaxyproject.org/training-material/topics/galaxy-data-manipulation/tutorials/download-delete-data/tutorial.html'>Galaxy Training Material - Downloading and Deleting Data</a></p>

        <p>Please note that if you have received a warning email in the past, new histories could have been added to the following table and they will have a different scheduled deletion date.</p>

        <p>Please see the {% if histories|length > 1 %}histories{% else %}history{% endif %} in question below:</p>
        <p>
            <table>
                <tr style="color:white;background-color:gray"><th>History Name</th><th>Date last updated</th><th>Size</th><th>Deletion Date</th></tr>
                {% for h in histories | sort(attribute='h_update_time') %}
                    <tr style="background-color:#eee"><td><a target="_blank" href="{{ hist_view_base }}{{ h['id'] }}">{{ h['name'] }}</a></td><td>{{ h['h_update_time'] }}</td><td>{{ h['h_size'] }}</td><td>{{ h['h_del_time'] }}</td></tr>
                {% endfor %}
            </table>
        </p>

        Yours,
        <br/>
        <br/>
        Galaxy Administrators.
        <p></p>
  </body>
</html>
